@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Noto+Sans+TC:wght@300;500;900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: 0;
}

html,
body {
    width: 100%;
}


/* 首頁 */


/* 分頁 */

body {
    height: 100%;
    background-color: bisque;
}

.container {
    width: 100%;
    margin-top: 5%;
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
}

.book {
    width: 70%;
    height: 500px;
    border: 2px solid black;
    position: relative;
    background-color: #fffbf5;
    box-shadow: 2px 2px 0 rgba(2, 0, 0, 0.27), 5px 5px 0 rgba(2, 0, 0, 0.27), 8px 8px 0 rgba(2, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    /* flex */
    display: flex;
    justify-content: flex-end;
}


/* 書裡的標題區 */

h1 {
    position: absolute;
    left: 15px;
    top: 15px;
    /* border: 2px solid red; */
    color: #443b2e;
    font-family: 'Kirang Haerang', cursive;
    font-size: 4em;
}

h1::after {
    content: '';
    width: 100%;
    height: 15px;
    background-color: rgba(255, 228, 196, .8);
    position: absolute;
    left: 0;
    bottom: 0;
}


/* 右邊標籤區 */

.link {
    position: absolute;
    top: -2px;
    right: -45px;
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.link a:hover {
    transform: translateX(3px);
}

.link a:nth-child(1):hover,
.link a:nth-child(2):hover,
.link a:nth-child(3):hover {
    background-color: brown;
    box-shadow: 5px 3px 0 rgba(0, 0, 0, 0.5);
}

.link a {
    text-decoration: none;
    writing-mode: vertical-lr;
    padding: 10px;
    color: white;
    margin: 5px 0;
    letter-spacing: 7px;
    font-weight: 500;
    /* border: 1px solid white; */
    transition: transform 0.3s ease-in, background-color 0.3s ease-in-out;
}

.link a:nth-child(1) {
    background-color: #ca7c00;
}

.link a:nth-child(2) {
    background-color: #226ea9;
}

.link a:nth-child(3) {
    background-color: #407433;
}


/* 書中筆記區 */

strong {
    letter-spacing: 5px;
    color: navy;
    margin: 10px 0;
}

.text {
    width: 75%;
    padding: 30px;
    box-sizing: border-box;
    overflow: auto;
}

.text img {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}


/* 隱藏捲軸 */

::-webkit-scrollbar {
    display: none;
}

.text a {
    color: black;
    font-weight: 500;
}

.text p,
ol li,
ul li {
    line-height: 25px;
    font-family: 'Noto Sans TC', sans-serif;
    /* letter-spacing: 1px; */
    font-size: .8em;
    font-weight: 300;
}

ol li,
ul li {
    margin-left: 20px;
}

.text span {
    text-decoration: underline;
    font-weight: 500;
    color: #b93737;
}

.date {
    text-align: center;
    font-size: .7em;
    color: gray;
}

.title {
    text-align: center;
    font-size: 1.7em;
    border-bottom: 3px double #000;
    letter-spacing: 5px;
    font-family: 'Kirang Haerang', cursive;
    margin: 15px 0;
}


/* footer區 */

footer {
    text-align: center;
    font-size: .5em;
    padding: 30px 0;
    color: #909090;
}

@media (max-width:1024px) {
    h1 {
        font-size: 3em;
    }
}


/* @media (max-width:2560px) {
    .book {
        width: 50%;
    }
    h1 {
        font-size: 6em;
    }
} */