@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Noto+Sans+TC:wght@300;500;900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: 0;
}

html,
body {
    width: 100%;
}


/* animate.style 動畫 */

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}


/* 共有 */

body {
    height: 100%;
    background-color: bisque;
}

.container {
    width: 100%;
    margin-top: 3%;
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
}

.book {
    width: 70%;
    height: 500px;
    border: 2px solid black;
    position: relative;
    background-color: #fffbf5;
    box-shadow: 2px 2px 0 rgba(2, 0, 0, 0.27), 5px 5px 0 rgba(2, 0, 0, 0.27), 8px 8px 0 rgba(2, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    /* flex */
    display: flex;
}


/* 右邊標籤區 */

.link {
    position: absolute;
    top: -2px;
    right: -45px;
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.link a:hover {
    transform: translateX(3px);
}

.link a:nth-child(1):hover,
.link a:nth-child(2):hover {
    background-color: brown;
    box-shadow: 5px 3px 0 rgba(0, 0, 0, 0.5);
}

.link a {
    text-decoration: none;
    writing-mode: vertical-lr;
    padding: 10px;
    color: white;
    margin: 5px 0;
    letter-spacing: 7px;
    font-weight: 500;
    /* border: 1px solid white; */
    transition: transform 0.3s ease-in, background-color 0.3s ease-in-out;
}

.link a:nth-child(1) {
    background-color: #ca7c00;
}

.link a:nth-child(2) {
    background-color: #226ea9;
}


/* 隱藏捲軸 */

::-webkit-scrollbar {
    display: none;
}


/* 書中文字 */

.text {
    width: 80%;
    box-sizing: border-box;
    overflow: auto;
}

.text img {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.text a {
    color: #2a329c;
    font-weight: 500;
}

.text p,
ol li,
ul li {
    line-height: 25px;
    /* letter-spacing: 1px; */
    font-size: .8em;
    font-weight: 300;
}

ol li,
ul li {
    margin-left: 20px;
}

.text span {
    text-decoration: underline;
    font-weight: 500;
    color: #b93737;
}

.date {
    text-align: center;
    font-size: .7em;
    color: gray;
}

.title {
    text-align: center;
    font-size: 1.7em;
    border-bottom: 3px double #000;
    letter-spacing: 5px;
    font-family: 'Kirang Haerang', cursive;
    margin: 15px 0;
}

textarea {
    width: 100%;
    pointer-events: none;
    border: none;
}

.code {
    padding: 10px;
    background-color: #ebebeb;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0;
}


/* 0707 sticky 示範 */

.sticky {
    margin: 10px 0;
    position: sticky;
    top: -30px;
    text-align: center;
    color: white;
    background-color: darkslategray;
    padding: 10px;
    letter-spacing: 3px;
}


/* footer區 */

footer {
    text-align: center;
    font-size: .5em;
    padding: 30px 0;
    color: #909090;
}

footer a {
    color: #717171;
}


/* 首頁 */

.index.book {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* 書裡的標題區 */

.index.book h1 {
    position: unset;
    font-family: 'Kirang Haerang', cursive;
    font-size: 6em;
    padding: 0;
}


/* h1動畫 */

.index.book h1.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* 跳入 */

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.animate__bounceIn {
    -webkit-animation-duration: calc(1s * 0.75);
    animation-duration: calc(1s * 0.75);
    -webkit-animation-duration: calc(var(--animate-duration) * 0.75);
    animation-duration: calc(var(--animate-duration) * 0.75);
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}


/* h1動畫結束 */

.index.book h1 a {
    color: #443b2e;
    text-decoration: none;
}

.index.book h1::after {
    display: none;
}

.index .text {
    width: 75%;
    padding: 0px 30px;
}

.index.title {
    animation-delay: 1s;
}


/* index title 動畫 */

.index.title.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* 跳入 */

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


/* index title 動畫結束 */


/* DEMO */

.demo {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

table {
    width: 400px;
    border-collapse: collapse;
}

.demo.julyDemo {
    width: 100%;
    justify-content: center;
}

.demo.julyDemo table {
    width: 500px;
}

table,
td a {
    /* 字型 */
    line-height: 25px;
    font-family: 'Noto Sans TC', sans-serif;
    /* letter-spacing: 1px; */
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
}

thead {
    background-color: #ffead1;
}

table,
th,
td {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

th,
td {
    padding: 10px 0;
}

figure {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo figure img {
    width: 80%;
    height: auto;
}

.demo figure figcaption {
    line-height: 25px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1em;
    font-weight: 300;
}


/* 分頁 */

.book {
    justify-content: flex-end;
}

.book h1 a {
    color: #443b2e;
    text-decoration: none;
}


/* 書裡的標題區 */

h1 {
    position: absolute;
    left: 15px;
    top: 15px;
    /* border: 2px solid red; */
    color: #443b2e;
    font-family: 'Kirang Haerang', cursive;
    font-size: 4em;
}

h1::after {
    content: '';
    width: 100%;
    height: 15px;
    background-color: rgba(255, 228, 196, .8);
    position: absolute;
    left: 0;
    bottom: 0;
}


/* 書中文字 */

.text {
    width: 75%;
    padding: 30px;
}

@media (max-width:1024px) {
    h1 {
        font-size: 3em;
    }
}