//- 給 test2.jade 繼承
doctype html 
html 
    head 
        block  webtitle 
            title 標題
        body 
            block h1title 
                h1 我是h1標題測試
            block postcontent 
                div 這是測試內容